<div class="home">
    <div class="row fix-margin title">
        <div class="col-3 fix-padding"></div>
        <div class="col-6 fix-padding"></div>
        <div class="col-6 fix-padding"></div>
    </div>

    <div class="row fix-margin corusel-legend">
        <div class="col-3 fix-padding left-side"></div>
        <div class="col-6 fix-padding center-side"></div>
        <div class="col-3 fix-padding right-side"></div>
    </div>

    <div class="row fix-margin view-100 templates">
        <div class="6 fix-padding template">

        </div>

        <div class="6 fix-padding template">
            <ngx-bb-line-chart>
            </ngx-bb-line-chart>
        </div>
    </div>
</div>
